/************************** body style***************/
:root{
 
    --main-color: #ff6900;
    --main-color2:#ffedd4;
    --main-color3: linear-gradient(to right, #7c3aed, #4f46e5);



}

.bg-main-color{
    background-color: var(--main-color)
}
.bg-main-color2{
    background-color: var(--main-color2)
}
.bg-main-color3{
    background: var(--main-color3);
}
.text-clore{
color: var(--main-color);
}

p{
    color:oklch(0.446 0.03 256.802);
}
body{
    margin: 0px;
     
    box-sizing: border-box;
   font-family: "Inter", sans-serif;

   background-color:#f8fafc;
    

}
*,
*::before,
*::after {
    box-sizing: border-box;
}
::selection {
  background-color:#2196F3;;
}

a{
    display: inline-block;
}


img{ 
 width: 100%;
 display: block;
 overflow: hidden;
}
a{
    text-decoration: none;
    
}


section {
     padding-block: 30px;
     
   }
.mainShadow{
box-shadow: 0 10px 25px rgba(124, 58, 237, 0.3);

}
.mainShadow1{
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

}
.mainFont{
    font-size:16px ;
    font-weight:600 ;
    line-height:24px ;
    color:oklch(0.551 0.027 264.364) ;
}
.bg-linear1{
      background: linear-gradient(to bottom right, #3b82f6, #2563eb); 
        box-shadow: 0 10px 25px rgba(59, 130, 246, 0.25); 


}
.bg-linear2{
      background: linear-gradient(to bottom right, #fbbf24, #f97316); 

        box-shadow: 0 10px 25px rgba(251, 191, 36, 0.25); 


}
.bg-linear3{
      background: linear-gradient(to bottom right, #f43f5e, #dc2626);
        box-shadow: 0 10px 25px rgba(244, 63, 94, 0.25);


}
  /************nav style**\********/
 .headingspan{
    color:#7f22fe;
 }
.nav-icon{
   width: 40px; 
   height: 40px;
   border-radius: 12px;
   
}
.headingFont{
    font-size:12px ;
    font-weight:500 ;
    line-height:16px ;
    color:oklch(0.551 0.027 264.364) ;
}
.nav-img{
width: 36px;
height: 36px;
border-radius: 12px;
cursor: pointer;
    overflow: hidden;
    
}
.display-non{
    display: inline-block;
    color: #4a5565;
    transition: 0.3s;
    border-radius: 12px;
}


.display-non:hover {

    background-color: oklch(92.455% 0.00592 264.656) ;
   
}

.navbar button {

    border: none;
    padding-block: 10px;
    padding-inline: 16px;
    border-radius: 12px!important;
    transition: 0.3s;

}

.navbar button:hover {

box-shadow: 0 10px 25px rgba(124, 58, 237, 0.3); 
  transform: translateY(-3px);}
/*********************form style**************/

.hidden-input {
    display: none;
}


.custom-upload-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #f5f5f5;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ddd;
    font-weight: 600;
    transition: 0.3s;
}

.custom-upload-btn:hover {
    background: #e9e9e9;
}

.custom-upload-btn i {
    font-size: 18px;
    color: #444;
}

#avatarPreview {
    width: 96px;       /* w-24 */
    height: 96px;      /* h-24 */
    border-radius: 50%; 
    background: linear-gradient(to bottom right, #60a5fa, #2563eb);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
}
.w-40{
    width: 46%;
    margin: auto;
}
.formFont{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: oklch(0.373 0.034 259.733);
}
input::placeholder {
    color: rgb(0, 0, 0);        
    font-size: 14px;   
    font-weight: 400; 
    line-height: 20px;  
    opacity: .6;        
}

@media screen and (max-width:640px) {
    .display-non,.btn-headin{
      display: none !important; 
    }
    .navbar-nav {
        flex-wrap: nowrap; /* يمنع العناصر من الالتفاف لأسفل */
    }

    .navbar-nav .nav-item {
        margin-right: 8px; 
    }
    
}
/***********content count style ***************/
.FavoritesData,.EmergencyData{
    border-radius: 12px;  
    overflow: hidden;      
    border: 1px solid #dbeafe;  
    background-color: #fff;      
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    
    
}
#FavoritesData,#EmergencyData{
    margin:auto 20px ;
    background-color:#fff ;
    padding:10px;
    border-radius: 12px;
    transition: all .3s;
}
.countIcon{
    width: 48px;
    height: 48px;
    border-radius:12px ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.Total{
    background-color: #fff;
    border: 1px solid #f6f3f4;
    padding: 20px;

    box-shadow: 0 1px 2px rgba(0,0,0,0.05);

    transition: all .3s;
}
.totalContacts{
      border-radius:16px;
  
}
.Total1{
    border-top-left-radius:16px ;
    border-top-right-radius:16px ;

}
.count .Total:hover{
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}
/***********content  sttyle ***************/


.search-icon {
  position: absolute;
  left: 10px;  
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none; 
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 40px;  
  font-size: 16px;
}


.search-input::placeholder {
  color: #aaa;
}
.fevoritTop{
    background-color: #fff7ec;
}
.EmergencyTop{
    background-color: #fef2f2;
}
/*********contant card style*************/
.contact-card {
    position: relative; 
    border-radius: 12px;
    background-color: #fff;
    margin: 15px auto;
    border: 1px solid #dbeafe; 
    box-shadow: 
        inset 0 0 0 1px rgba(59,130,246,0.1), 
        0 2px 6px rgba(0,0,0,0.05); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow: hidden;
    
}

/* Hover effect */
.contact-card:hover {
    transform: translateY(-3px);
    box-shadow: 
        inset 0 0 0 1px rgba(59,130,246,0.15), 
        0 6px 15px rgba(0,0,0,0.1); 
}


/* Avatar */
.avatar-wrapper {
    position: relative;
    margin-right: 15px;
}

.avatar, .avatarFev {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    flex-shrink: 0;
    position: relative;
}

.avatar {
    width: 56px;
    height: 56px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #60a5fa;
}

.avatarFev {
    width: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #fbbf24;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.avatar-letter {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

/* Badges */
.badge-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #fff;
}

.fav-badge {
    top: 0;
    right: 0;
    background-color: #fbbf24;
}

.emerg-badge {
    bottom: 0;
    right: 0;
    background-color: #ef4444;
}

/* Top Row */
.top-row {
    margin:15px ;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.main-info .name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}

.phone {
    font-size:14px;
    color: #555;
    margin-top: 3px;
    display: flex;             
    align-items: center;       
    gap: 6px; 
}

.phone i {
    background-color: #dbeafe;
    color: #2563eb;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 10px;
}

/* Info Rows */
.info-row {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 0;
    margin-left: 15px;
}

.info-row i {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
   
}
.emailBg{
    background-color: #ede9fe;
    color: #7f22fe;
}
.addressBg{
    background-color: #d0fae5;
    color: #009966;
}
.info-row span {
    color: #333;
}

/* Tags */
.tags {
    margin: 10px 0;
    margin-left: 15px;
}

.tag {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    margin-right: 6px;
    color: #fff;
}

.tag.family {
    background-color: #2196F3; 
}

.tag.emergency {
    background-color: #f44336;
}

/* Actions */
.actions {
    width: 100%; 
    background-color: #f5f5f5; 
    border-top: 1px solid #e0e0e0; 
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px; 
    margin: 0;
}

.btn-container {
    display: flex;
    gap: 10px;
    padding: 0 15px; 
}

.actions .btn {
    border: none;
    padding: 6px; 
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    width: auto; 
    height: 36px; 
}

.actions .call {
    background-color: #ecfdf5; 
    color: #009966;
}

.actions .email {
    background-color:#ede9fe; 
    color: #7f22fe;
}

.actions .email i:hover {
    color: #fbbf24;
}

.actions .fav,
.actions .emerg,
.actions .edit,
.actions .delete {
    background-color: transparent; 
}

.actions .fav { color:#333; }
.actions .emerg { color: #ef4444; }
.actions .edit { color: #333; }
.actions .delete { color: #333; }

.actions .btn:hover.call,
.actions .btn:hover.email {
    opacity: 0.85;
}

.actions .btn:hover.fav {
    background-color: #fef9c3; 
}
.actions .btn:hover.emerg {
    background-color: #fee2e2; 
}
.actions .btn:hover.edit {
    background-color: #e5e7eb; 
}
.actions .btn:hover.delete {
    background-color: #fee2e2; 
}

.actions .btn i {
    font-size: 16px;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


/************emg and fevor card style*************/

.small-card {
    display: flex;
    align-items: center;
    background-color: #fbf9fa;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 8px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.small-card .avatarFev {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-right: 12px;
    flex-shrink: 0;
    background-color: #ff9800; 
}

.small-card .main-info {
    flex: 1;
}

.small-card .main-info h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.small-card .main-info p {
    margin: 0;
    font-size: 12px;
    color: #555;
}

.small-card .phoneRight {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    transition: all .3s;

}
.fevPhone{
background-color: #d0fae5; 
color: #009966;
}
.fevPhone:hover{
background-color:#009966; 
color: #fff;
}
.emrPhone{
background-color: #ffe4e6; 
color: #ec003f;

}
.emrPhone:hover{
background-color:#ec003f;
color: #fff;
}